.profile-card {
    max-width: 450px;
    display: inline-block;
    margin: 10px;
}

.avatar-image {
    background-image: url('/assets/kkk.jpg');
    background-size: cover;
}

.avatar-image2 {
    background-image: url('/assets/ploy.jpg');
    background-size: cover;
}

.avatar-image3 {
    background-image: url('/assets/leng.jpg');
    background-size: cover;
}