<mat-tab-group dynamicHeight>
    <mat-tab label="Group Members">
        <mat-card class="profile-card">
            <mat-card-header>
                <div mat-card-avatar class="avatar-image"></div>
                <mat-card-title>Krittawit Khamjaroen</mat-card-title>
                <mat-card-subtitle>602115001</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/kkk.jpg" alt="Self Photo">
            <mat-card-content>
                <!-- <p>
                    Please don't expect too much from me thanks.
                </p> -->
                <p>
                    I hope I can go out for coffee again soon.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button>
                    <mat-icon>thumb_up_alt</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
        
        <mat-card class="profile-card">
            <mat-card-header>
                <div mat-card-avatar class="avatar-image2"></div>
                <mat-card-title>Jiratchaya Saopangkam</mat-card-title>
                <mat-card-subtitle>602115004</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/ploy.jpg" alt="Self Photo">
            <mat-card-content>
                <p>
                    I'd rather live in my dreams than die in reality.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button>
                    <mat-icon>thumb_up_alt</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
        
        <mat-card class="profile-card">
            <mat-card-header>
                <div mat-card-avatar class="avatar-image3"></div>
                <mat-card-title>Somruk Laothamjinda</mat-card-title>
                <mat-card-subtitle>602115023</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/leng.jpg" alt="Self Photo">
            <mat-card-content>
                <p>
                        Please just let me go to Bangkok I miss my home.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-icon-button>
                    <mat-icon>thumb_up_alt</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-tab>

    <mat-tab label="Topics">
        <mat-card>
            <mat-card-title>
                Topic: Gaming Market Trends
            </mat-card-title>
        </mat-card>
        <mat-expansion-panel (opened)="opened = true" (closed)="opened = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Sections listed as follows
                </mat-panel-title>
                <mat-panel-description>
                    Click here to {{opened ? 'close' : 'open'}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list role="list">
                <mat-list-item role="listitem">Sales by genre</mat-list-item>
                <mat-list-item role="listitem">All time sales</mat-list-item>
                <mat-list-item role="listitem">Summary</mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-tab>
</mat-tab-group>