
<mat-tab-group dynamicHeight>
    <mat-tab label="Sales by genre">
        <mat-card>
            <iframe src="assets/all_time_sale_by_genre.html"
                height="800"
                width="1000"
                seamless>
            </iframe>
        </mat-card>
    </mat-tab>
    <mat-tab label="Sales by genre excluding 1%">
        <mat-card>
            <iframe src="assets/all_time_sale_by_genre_no_top_0.1_outlier.html"
                height="800"
                width="1000"
                seamless>
            </iframe>
        </mat-card>
    </mat-tab>
    <mat-tab label="Sales by genre top 1%">
        <mat-card>
            <iframe src="assets/all_time_sale_by_genre_top_0.1_outlier.html"
                height="800"
                width="1000"
                seamless>
            </iframe>
        </mat-card>
    </mat-tab>
</mat-tab-group>