<mat-tab-group dynamicHeight>
    <mat-tab label="Releases Comparison">
        <mat-card class="htmlGraph">
            <iframe src="assets/1980_to_2020_release_by_genre.html" height="650" width="819">
            </iframe>
        </mat-card>
        <mat-card class="htmlGraph">
            <iframe src="assets/1980_to_1999_release_by_genre.html" height="650" width="819">
            </iframe>
        </mat-card>
        <mat-card class="htmlGraph">
            <iframe src="assets/2000_to_2009_release_by_genre.html" height="650" width="819">
            </iframe>
        </mat-card>
        <mat-card class="htmlGraph">
            <iframe src="assets/2010_to_2019_release_by_genre.html" height="650" width="819">
            </iframe>
        </mat-card>
    </mat-tab>
    <mat-tab label="Top Game Sales">
        <mat-card>
            <iframe class="htmlGraphTopGameSales" src="assets/games_with_top_global_sale_in_each_genre.html" height="650" width="1670">
            </iframe>
        </mat-card>
    </mat-tab>
    <mat-tab label="Game Sales Percentage">
        <mat-card class="htmlGraph">
            <iframe src="assets/1980_to_2016_sale_percentage_change_in_genre_global.html" height="850" width="1670">
            </iframe>
        </mat-card>
        <mat-card class="htmlGraph">
            <iframe src="assets/1980_to_2016_sale_percentage_change_in_genre_NA.html" height="850" width="1670">
            </iframe>
        </mat-card>
        <mat-card class="htmlGraph">
            <iframe src="assets/1980_to_2016_sale_percentage_change_in_genre_EU.html" height="850" width="1670">
            </iframe>
        </mat-card>
        <mat-card class="htmlGraph">
            <iframe src="assets/1980_to_2016_sale_percentage_change_in_genre_JP.html" height="850" width="1670">
            </iframe>
        </mat-card>
    </mat-tab>
    <mat-tab label="Hit Game Prediction">
        <mat-card>
            <img src="assets/hit_game_prediction_by_genre_and_score.png" height="700" width="700">
        <mat-card-content>
            <h3>
                    From the prediction from selected 1951 games    <br>
                    True Positive = 116     <br>
                    True Negative = 1438    <br>
                    False Positive = 138    <br>
                    False Negative = 259
            </h3>
        </mat-card-content>
        </mat-card>
        <mat-card>
                <iframe src="assets/influence_of_features_on_hit_game.html" height="850" width="1670"></iframe>
            </mat-card>
    </mat-tab>
</mat-tab-group>