<mat-tab-group dynamicHeight>
    <mat-tab label="1980-2016 Sale change in Europe">
        <mat-card>
            <iframe src="assets/1980_to_2016_sale_change_in_genre_eu.html" height="820" width="1200"></iframe>
        </mat-card>
    </mat-tab>
    <mat-tab label="1980-2016 Sale change in Japan">
        <iframe src="assets/1980_to_2016_sale_change_in_genre_jp.html" height="820" width="1200"></iframe>
    </mat-tab>
    <mat-tab label="1980-2016 Sale change in NA">
        <iframe src="assets/1980_to_2016_sale_change_in_genre_na.html" height="820" width="1200"></iframe>
    </mat-tab>
    <mat-tab label="1980-2016 Sale change in Global">
        <iframe src="assets/1980_to_2016_sale_change_in_genre_global.html" height="820" width="1200"></iframe>
    </mat-tab>
</mat-tab-group>